In [1]:
import os

import pandas as pd

# Load sample businesses

In [2]:
BUSINESS_NROWS = 1000
NUM_SAMPLE_BUSINESSES = 400
YELP_DATASET_DP = '../data/yelp_dataset/'
SAMPLE_OUTPUT_DATASET_DP = f'{YELP_DATASET_DP}/sample/sample_{NUM_SAMPLE_BUSINESSES}_biz'
os.makedirs(SAMPLE_OUTPUT_DATASET_DP, exist_ok=True)

BUSINESS_DATA_FP = f"{YELP_DATASET_DP}/yelp_academic_dataset_business.json"

In [3]:
business_sample_df = pd.read_json(BUSINESS_DATA_FP, lines=True, nrows=BUSINESS_NROWS)

In [4]:
business_sample_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,iNMdSi5bmvGSGeRQiUW4dw,Wendy's,3535 E. Irvington Road,Tucson,AZ,85714,32.163740,-110.916722,2.5,14,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Fast Food, Burgers, Restaurants","{'Monday': '10:0-23:0', 'Tuesday': '10:0-23:0'..."
996,0QmgzzPVNHeNL76B8rwTKA,Beneficial Bank,1600 Chestnut St,Philadelphia,PA,19103,39.951154,-75.167335,2.5,5,0,None,"Banks & Credit Unions, Financial Services","{'Monday': '8:30-17:0', 'Tuesday': '8:30-17:0'..."
997,ByDCN9n5mwHP9LQqUx-1pw,Largo Police Department,201 Highland Ave,Largo,FL,33770,27.920194,-82.776363,2.5,7,1,None,"Public Services & Government, Police Departments",None
998,TwIouh_gbW9TCSK3PhuPrg,T J Maxx,545 Cool Springs Blvd,Franklin,TN,37067,35.948462,-86.823777,3.0,28,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Fashion, Shopping, Department Stores",None
999,sDOxVq8gQBpHFYtoxwoLWw,Plume Salon,111 E Girard Ave,Philadelphia,PA,19125,39.969190,-75.134038,4.5,138,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Waxing, Beauty & Spas, Eyelash Service, Used, ...","{'Monday': '12:0-20:0', 'Tuesday': '10:0-20:0'..."

In [5]:
# Sample only selected categories
selected_categories = ['Food', 'Restaurants', 'Coffee & Tea', 'Cafes']
random_seed = 42
business_sample_df = (
    business_sample_df
    .dropna(subset=['categories'])
    .loc[lambda df: df['categories'].str.contains(f'(?i){"|".join(selected_categories)}', regex=True)]
    .sample(NUM_SAMPLE_BUSINESSES, random_state=random_seed)
)
business_sample_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
971,4fUok5d5vgdQEb1Bzzg0rA,Olive Garden Italian Restaurant,1315 W Esplanade Ave,Kenner,LA,70065,30.020005,-90.249349,3.5,115,1,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","Restaurants, Italian, Soup, Bars, Salad, Night...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ..."
144,PYW8Buz8S8LpjIe6mZTAcw,Payless Liquors,954 N State Rd 135,Greenwood,IN,46143,39.632280,-86.158674,3.5,13,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Food, Beer, Wine & Spirits",None
372,dChRGpit9fM_kZK5pafNyA,The Love,130 S 18th St,Philadelphia,PA,19103,39.950656,-75.170899,4.0,618,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Restaurants, American (New), Breakfast & Brunc...","{'Monday': '0:0-0:0', 'Tuesday': '17:0-21:0', ..."
58,uI9XODGY_2_ieTE6xJ0myw,Roman Forum,10440 N Dale Mabry Hwy,Tampa,FL,33618,28.046203,-82.505053,4.0,23,0,"{'BusinessParking': '{'garage': False, 'street...","Restaurants, American (New), Italian","{'Monday': '11:30-21:0', 'Tuesday': '11:30-21:..."
838,l7gFSHojInQCglAVbv2_FQ,Tony luke's,222 Rowan Blvd,Glassboro,NJ,08028,39.705390,-75.113693,2.5,20,0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Sandwiches, Cheesesteaks","{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,Zj5PX3ZE4V6DB4XqP3HfcQ,Edible Arrangements,1259 Blackwood Clementon Rd,Clementon,NJ,08021,39.805037,-75.027507,2.5,6,1,None,"Gift Shops, Flowers & Gifts, Food, Florists, C...",None
542,bf34LpGej_MZbOlAKB1beQ,Sherbrooke Liquor Store,11819 Saint Albert Trail NW,Edmonton,AB,T5L 5B5,53.571086,-113.548768,4.5,77,1,"{'BusinessParking': '{'garage': False, 'street...","Beer, Wine & Spirits, Food","{'Monday': '10:0-20:0', 'Tuesday': '10:0-20:0'..."
572,wCgIJhH_CTuwsSZPcafkng,Dunkin' Donuts,4225 S E St,Indianapolis,IN,46227,39.703887,-86.148302,2.0,19,0,"{'BikeParking': 'True', 'WiFi': ''free'', 'Bus...","Food, Donuts, Coffee & Tea",None
41,ljxNT9p0y7YMPx0fcNBGig,Tony's Restaurant & 3rd Street Cafe,312 Piasa St,Alton,IL,62002,38.896563,-90.186203,3.0,94,1,"{'RestaurantsReservations': 'True', 'Restauran...","Restaurants, Specialty Food, Steakhouses, Food...","{'Monday': '0:0-0:0', 'Tuesday': '16:0-21:30',..."
721,JQ75_672GKJQ3tK1togIWw,Golden Capital Restaurant,180 - 1020 Sherwood Drive,Sherwood Park,AB,T8A 2G4,53.512604,-113.317912,3.5,8,1,"{'BusinessParking': '{'garage': False, 'street...","Chinese, Specialty Food, Food, Event Planning ...",None

In [6]:
business_sample_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
business_id,400,400,4fUok5d5vgdQEb1Bzzg0rA,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,400,371,McDonald's,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
address,400,395,,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,400,151,Philadelphia,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,400,14,PA,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN
postal_code,400,263,19147,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,400.0,NaN,NaN,NaN,37.046392,6.099433,27.713401,32.2063,39.525155,39.974374,53.625071
longitude,400.0,NaN,NaN,NaN,-87.852068,14.019498,-119.882367,-90.1916,-86.006487,-75.29441,-74.753212
stars,400.0,NaN,NaN,NaN,3.58875,0.823525,1.0,3.0,3.75,4.0,5.0
review_count,400.0,NaN,NaN,NaN,90.2675,204.283615,5.0,12.0,30.0,88.0,2404.0
is_open,400.0,NaN,NaN,NaN,0.67,0.470802,0.0,0.0,1.0,1.0,1.0
attributes,393,390,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
categories,400,348,"Pizza, Restaurants",6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hours,342,312,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",15,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
sample_business_ids = set(business_sample_df['business_id'].unique())
len(sample_business_ids)

400

In [8]:
# Persist
BUSINESS_SAMPLE_DATA_FP = f"{SAMPLE_OUTPUT_DATASET_DP}/yelp_academic_dataset_business_sample_{NUM_SAMPLE_BUSINESSES}_biz.parquet"
business_sample_df.to_parquet(BUSINESS_SAMPLE_DATA_FP, index=False)

# Load other data for these sample businesses

## Reviews

In [9]:
REVIEW_DATA_FP = f"{YELP_DATASET_DP}/yelp_academic_dataset_review.json"

In [10]:
%%time
review_sample_df = (
    pd.read_json(REVIEW_DATA_FP, lines=True)
    .loc[lambda df: df['business_id'].isin(sample_business_ids)]
)

CPU times: user 31.2 s, sys: 1min 44s, total: 2min 16s
Wall time: 12min 24s

In [11]:
review_sample_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
32,40thYphUgIfvJq17QCfTwA,QzCEzH3R7Z6erOGLr3t55Q,0pMj5xUAecW9o1P35B0AMw,5,1,0,1,Great staff always helps and always nice. Alwa...,2017-05-26 13:10:24
35,L0jv8c2FbpWSlfNC6bbUEA,bFPdtzu11Oi0f92EAcjqmg,IDtLPgUrqorrpqSLdfMhZQ,5,0,0,0,What a great addition to the Funk Zone! Grab ...,2016-10-13 22:50:47
38,JBWZmBy69VMggxj3eYn17Q,aFa96pz67TwOFu4Weq5Agg,kq5Ghhh14r-eCxlVmlyd8w,5,0,0,0,My boyfriend and I tried this deli for the fir...,2018-08-23 21:39:38
44,jC-fGfx-YLqxVBcyTAd4Pw,EBa-0-6AKoy6jziNexDJtg,W4ZEKkva9HpAdZG88juwyQ,3,0,0,0,"In a word... ""OVERRATED!"". The food took fore...",2013-12-29 02:37:42
61,4zopEEPqfwm-c_FNpeHZYw,JYYYKt6TdVA4ng9lLcXt_g,SZU9c8V2GuREDN5KgyHFJw,5,0,0,0,We were a bit weary about trying the Shellfish...,2016-05-31 02:14:54
...,...,...,...,...,...,...,...,...,...
716155,KFGwRU0cD7AKUyMpa19bHg,CBHpTYlMeG6kMo0a7LODkA,gyUBYwpUO_u0nqZdre4l1g,4,6,3,5,"In case you guys don't know, I've been on a Ch...",2017-09-12 00:10:58
716163,KIO40b2aN1GFwCtsCih3tw,ueRPE0CX75ePGMqOFVj6IQ,TLZ3-eDPLhUzfsWO4ad6Ug,5,3,1,3,This place was ABSOLUTELY fantastic. I am not ...,2019-09-25 15:48:16
716171,gIuVPPnEjFO6TYpdKHl-WA,TtuLyYy4Gf41XA2JUQgY8A,TGfPJHImEq6AQL9a1laxlg,1,2,0,0,After tonight's experience I will not be back ...,2017-11-04 01:20:55
716177,rlDUP5rfoJYoab0Raj71VQ,lhTCrBZO3BF9beho8vPXAw,SZU9c8V2GuREDN5KgyHFJw,5,1,0,1,Absolutely love this place! From the service t...,2018-11-27 22:22:09
716183,rT1xsfmuaQWCcgKcA-NJXw,DgmvcnJT9G2O0FdxtpEO-w,TJe1ZGe-X0-GjOQd00kKxA,3,3,0,0,"I heard about this place from a coworker, who ...",2019-09-15 16:36:26

In [12]:
review_sample_df.describe(include='all').T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
review_id,37281,37281,40thYphUgIfvJq17QCfTwA,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_id,37281,33522,_BcWyKQL16ndpBdggh2kNA,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
business_id,37281,400,SZU9c8V2GuREDN5KgyHFJw,2444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stars,37281.0,NaN,NaN,NaN,3.808562,1.0,3.0,4.0,5.0,5.0,1.374963
useful,37281.0,NaN,NaN,NaN,0.953837,0.0,0.0,0.0,1.0,149.0,2.355431
funny,37281.0,NaN,NaN,NaN,0.298758,0.0,0.0,0.0,0.0,133.0,1.407735
cool,37281.0,NaN,NaN,NaN,0.471098,0.0,0.0,0.0,0.0,145.0,1.906556
text,37281,37230,We had another great lunch at Mr B's on 3/12/1...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date,37281,NaN,NaN,NaN,2016-12-22 05:34:02.623052032,2005-03-12 03:47:06,2014-12-21 05:41:44,2017-06-14 03:36:06,2019-05-03 14:16:52,2022-01-19 17:38:41,NaN

In [13]:
# Persist
REVIEW_SAMPLE_DATA_FP = f"{SAMPLE_OUTPUT_DATASET_DP}/yelp_academic_dataset_review_sample_{NUM_SAMPLE_BUSINESSES}_biz.parquet"
review_sample_df.to_parquet(REVIEW_SAMPLE_DATA_FP, index=False)

In [14]:
sample_user_ids = set(review_sample_df['user_id'].unique())
len(sample_user_ids)

33522

## Users

In [15]:
USER_DATA_FP = f"{YELP_DATASET_DP}/yelp_academic_dataset_user.json"

In [16]:
%%time
user_sample_df = (
    pd.read_json(USER_DATA_FP, lines=True)
    .loc[lambda df: df['user_id'].isin(sample_user_ids)]
)

CPU times: user 16.9 s, sys: 44.7 s, total: 1min 1s
Wall time: 4min 38s

In [17]:
user_sample_df

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
7,E9kcWJdJUHuTKfQurPljwA,Mike,358,2008-12-11 22:11:56,399,102,143,,"y2GyxJF5VQWohxgw_GR7Jw, 0NRn4eY3JWN0IFqvOSa5gA...",23,...,7,2,0,0,8,6,12,12,5,0
12,vVukUtqoLF5BvH_VtQFNoA,Charlene,37,2011-01-29 17:18:59,63,3,27,,"zkK6c9BcDyqreU0fqI_JLQ, opI1hhhFqElB6pptNH9ZqA...",4,...,0,0,0,0,1,5,0,0,1,0
23,MGPQVLsODMm9ZtYQW-g_OA,Jelena,1807,2008-01-19 22:50:00,17331,10461,13734,"2008,2009,2010,2011,2012,2013,2014,2015,2016,2...","HpJzEFN1kyuH6VAF_usqKg, F_NG8ZaNVriV_hujoOejIA...",828,...,167,206,395,130,915,3396,1915,1915,696,470
36,rppTTi-kfF8-qyiArNemag,Helen,460,2006-01-24 14:33:32,700,149,425,"2010,2012,2013,2014,2015,2016,2017,2018","HzoQKKHDq9BI37dyJAAtGA, Inh7WS8hpmiUmNDhtLK-ZQ...",49,...,11,2,2,0,16,23,43,43,20,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595164,sRjJja-1_xZHTua5b1s8nA,Ashley,6,2021-04-11 03:49:42,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
595247,PkEWMxI_Ue5fmBllu18Gqg,anita,1,2022-01-14 14:11:18,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
595345,mSzNh2I3SXUCxhVSrwV7wQ,Hailey,1,2022-01-17 03:03:39,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
595361,OhiFAeUqlD_vtTibzTjIxg,Selena,1,2021-12-13 23:14:52,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
595990,YVtBwY4LmZnOg9F8wWPFTg,Hana,3,2020-09-01 21:08:43,1,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
user_sample_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
user_id,33522,33522,hA5lMy-EnncsH4JoR-hFGQ,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,33522,7351,John,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_count,33522.0,NaN,NaN,NaN,105.209146,292.131424,1.0,8.0,26.0,91.0,17473.0
yelping_since,33522,33518,2009-12-24 18:54:55,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
useful,33522.0,NaN,NaN,NaN,308.764304,2729.179094,0.0,3.0,19.0,95.0,206296.0
funny,33522.0,NaN,NaN,NaN,134.518823,1788.608983,0.0,0.0,3.0,21.0,185823.0
cool,33522.0,NaN,NaN,NaN,208.923095,2418.211636,0.0,1.0,5.0,34.0,195814.0
elite,33522,405,,25711,NaN,NaN,NaN,NaN,NaN,NaN,NaN
friends,33522,24449,None,8889,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fans,33522.0,NaN,NaN,NaN,9.689458,60.855285,0.0,0.0,0.0,3.0,3493.0
average_stars,33522.0,NaN,NaN,NaN,3.790095,0.800715,1.0,3.45,3.91,4.29,5.0
compliment_hot,33522.0,NaN,NaN,NaN,13.4699,207.966815,0.0,0.0,0.0,1.0,21353.0
compliment_more,33522.0,NaN,NaN,NaN,2.002953,37.050159,0.0,0.0,0.0,1.0,4347.0
compliment_profile,33522.0,NaN,NaN,NaN,1.440397,54.003631,0.0,0.0,0.0,0.0,7039.0
compliment_cute,33522.0,NaN,NaN,NaN,0.854931,21.628309,0.0,0.0,0.0,0.0,2974.0
compliment_list,33522.0,NaN,NaN,NaN,0.542927,20.940614,0.0,0.0,0.0,0.0,2607.0
compliment_note,33522.0,NaN,NaN,NaN,10.625828,121.665856,0.0,0.0,0.0,2.0,13970.0
compliment_plain,33522.0,NaN,NaN,NaN,28.37814,627.041397,0.0,0.0,0.0,3.0,101097.0
compliment_cool,33522.0,NaN,NaN,NaN,22.389565,358.065784,0.0,0.0,0.0,2.0,49967.0
compliment_funny,33522.0,NaN,NaN,NaN,22.389565,358.065784,0.0,0.0,0.0,2.0,49967.0
compliment_writer,33522.0,NaN,NaN,NaN,8.871607,139.751634,0.0,0.0,0.0,1.0,15934.0
compliment_photos,33522.0,NaN,NaN,NaN,10.567687,341.755894,0.0,0.0,0.0,0.0,56104.0

In [19]:
# Persist
USER_SAMPLE_DATA_FP = f"{SAMPLE_OUTPUT_DATASET_DP}/yelp_academic_dataset_user_sample_{NUM_SAMPLE_BUSINESSES}_biz.parquet"
user_sample_df.to_parquet(USER_SAMPLE_DATA_FP, index=False)

# Tips
> Tips written by a user on a business. Tips are shorter than reviews and tend to convey quick suggestions. ([source](https://www.yelp.com/dataset/documentation/main))

-> Skip this data to not confuse with the reviews

# Photos
This data can also be used as a supplementary input source and also to add to the recommendations