In [1]:
import os

import pandas as pd

# Load sample businesses

In [2]:
YELP_DATASET_DP = '../data/yelp_dataset/'
SAMPLE_OUTPUT_DATASET_DP = f'{YELP_DATASET_DP}/sample/sample_100_biz'
os.makedirs(SAMPLE_OUTPUT_DATASET_DP, exist_ok=True)

BUSINESS_DATA_FP = f"{YELP_DATASET_DP}/yelp_academic_dataset_business.json"

NUM_SAMPLE_BUSINESSES = 100

In [3]:
business_sample_df = pd.read_json(BUSINESS_DATA_FP, lines=True, nrows=NUM_SAMPLE_BUSINESSES)

In [4]:
business_sample_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,pEm4xNCk8d0TF6A1gi-WDQ,TKO DJs,2650 S Big Bend,Maplewood,MO,63143,38.613576,-90.322383,3.5,17,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Karaoke, DJs, Event Planning & Services, Party...","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ..."
96,J_ksUDPpzPwfTGtI4zTRnQ,Riverview Room,600 Decatur St,New Orleans,LA,70130,29.955925,-90.062962,4.5,7,1,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","Event Planning & Services, Caterers, Party & E...","{'Monday': '9:0-16:0', 'Tuesday': '9:0-16:0', ..."
97,knQ4vIgx-r85kjlWVVjcpQ,Silver and Blue Outfitters,5191 Meadowood Mall Cir,Reno,NV,89502,39.476518,-119.784037,4.5,5,1,"{'BikeParking': 'True', 'WiFi': 'u'no'', 'Dogs...","Sporting Goods, Sports Wear, Fashion, Restaura...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-21:0', ..."
98,U2Tzy6J9aAAg9pzXsgdkvg,Premier Mortgage Resources,"3363 E Presidential Dr, Ste 200",Meridian,ID,83642,43.614194,-116.352500,5.0,6,1,None,"Real Estate, Home Services, Financial Services...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
99,1MeIwdbTnZOBFCKOrgaxuw,Ricardo's Italian Cafe,1931 Park Ave,Saint Louis,MO,63104,38.617272,-90.212784,3.5,80,0,"{'OutdoorSeating': 'False', 'BusinessAcceptsCr...","American (New), Restaurants, Cafes, Italian, A...","{'Monday': '11:0-14:0', 'Tuesday': '16:0-21:0'..."

In [5]:
business_sample_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
business_id,100,100,Pns2l4eNsfO8kk83dixA6A,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,100,99,Sonic Drive-In,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
address,100,95,,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,100,53,Philadelphia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,100,14,PA,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
postal_code,100,89,93101,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,100.0,NaN,NaN,NaN,37.243734,5.983077,27.76659,32.228213,39.495244,39.954806,53.549633
longitude,100.0,NaN,NaN,NaN,-89.736024,14.796259,-119.847204,-90.321411,-86.15429,-75.623856,-74.825821
stars,100.0,NaN,NaN,NaN,3.74,0.952084,1.5,3.0,4.0,4.5,5.0
review_count,100.0,NaN,NaN,NaN,50.94,92.134927,5.0,8.0,17.0,38.0,593.0
is_open,100.0,NaN,NaN,NaN,0.74,0.440844,0.0,0.0,1.0,1.0,1.0
attributes,91,84,{'BusinessAcceptsCreditCards': 'True'},3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
categories,100,98,"Restaurants, Italian",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hours,81,77,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
sample_business_ids = set(business_sample_df['business_id'].unique())
len(sample_business_ids)

100

In [7]:
# Persist
BUSINESS_SAMPLE_DATA_FP = f"{SAMPLE_OUTPUT_DATASET_DP}/yelp_academic_dataset_business_sample_{NUM_SAMPLE_BUSINESSES}_biz.parquet"
business_sample_df.to_parquet(BUSINESS_SAMPLE_DATA_FP, index=False)

# Load other data for these sample businesses

## Reviews

In [8]:
REVIEW_DATA_FP = f"{YELP_DATASET_DP}/yelp_academic_dataset_review.json"

In [9]:
%%time
review_sample_df = (
    pd.read_json(REVIEW_DATA_FP, lines=True)
    .loc[lambda df: df['business_id'].isin(sample_business_ids)]
)

CPU times: user 30.8 s, sys: 1min 24s, total: 1min 55s
Wall time: 10min 8s

In [10]:
review_sample_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
35,L0jv8c2FbpWSlfNC6bbUEA,bFPdtzu11Oi0f92EAcjqmg,IDtLPgUrqorrpqSLdfMhZQ,5,0,0,0,What a great addition to the Funk Zone! Grab ...,2016-10-13 22:50:47
229,mMwnX1vc3tQUeDNS2wiKFw,f10WH1fXhy-68r4AEEhAWA,9OG5YkX1g2GReZM0AskizA,4,0,0,0,Great bar Happy Hour 4-7 every day. Wine & Dra...,2016-01-30 03:16:46
243,uwPhE21CZLlp1kkSMPvvYw,5OnQqP3q2_9auNdDKpLdsw,WKMJwqnfZKsAae75RMP6jA,3,0,0,0,So much to like about this place--the beautifu...,2012-11-06 23:35:15
257,6odPSjoPWOyeDQpgJbdGaA,jLr7vcDg43TqS2OK4ROvPQ,oaboaRBUgGjbo2kfUIKDLQ,5,0,0,0,Super tasty and enormous portions. Some unique...,2016-03-30 23:22:54
401,LFpaQzYkP5Pzm5lEjJpTRw,Ttb21DpWqphQMNSS5TXgMA,IDtLPgUrqorrpqSLdfMhZQ,5,0,0,0,Possibly the best breakfast sandwich EVER. On...,2017-01-15 00:36:04
...,...,...,...,...,...,...,...,...,...
715755,9cpaQho8MbRujLCw4YC2vg,sRjJja-1_xZHTua5b1s8nA,YNjyv0gfOr2g8lbmUpTnKg,4,0,0,0,Food is always delicious. Best way to try diff...,2021-12-02 03:14:14
715794,Me2ixr2UWaqnMWTGFwkyRQ,Y_CWjc7mz6jaebDxyyVViw,MUTTqe8uqyMdBl186RmNeA,5,0,0,0,Tuna Bar has quickly become a favorite of Phil...,2021-12-04 01:21:49
715916,yP6qECsUSGs4Jsnr2Pu5KQ,BpfStJAeH3-8mnvZKwh1qg,MUTTqe8uqyMdBl186RmNeA,5,1,1,1,5 stars ALL AROUND! The sushi here is amazing....,2017-12-31 13:51:49
716126,s88sTzb8FPtxGvAjqhNuTQ,nHXo42Jq950NrEbCyvF4UA,seKihQKpGGnCeLuELRQPSQ,4,1,2,0,Today was our first visit to Twin Peaks. I did...,2020-09-15 19:44:09
716148,xVxHjZ0ThLqC4Zhv1naU4Q,iJ97UrvPlGNttp44qsJ-4A,oaboaRBUgGjbo2kfUIKDLQ,4,2,0,2,The ice cream du jour downtown was busy but a ...,2022-01-15 03:27:53

In [11]:
review_sample_df.describe(include='all').T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
review_id,5240,5240,L0jv8c2FbpWSlfNC6bbUEA,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_id,5240,4984,wXdbkFZsfDR7utJvbWElyA,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
business_id,5240,100,oaboaRBUgGjbo2kfUIKDLQ,601,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stars,5240.0,NaN,NaN,NaN,3.771756,1.0,3.0,4.0,5.0,5.0,1.454339
useful,5240.0,NaN,NaN,NaN,1.060305,0.0,0.0,0.0,1.0,149.0,3.102897
funny,5240.0,NaN,NaN,NaN,0.307252,0.0,0.0,0.0,0.0,133.0,2.152664
cool,5240.0,NaN,NaN,NaN,0.532824,0.0,0.0,0.0,0.0,145.0,2.689376
text,5240,5231,"Homemade Ice Cream, hand crafted Milkshakes, b...",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date,5240,NaN,NaN,NaN,2017-06-25 15:35:16.198854912,2005-04-03 05:16:43,2015-07-21 12:35:09,2018-02-05 20:03:03,2019-09-09 00:52:26.500000,2022-01-19 19:45:32,NaN

In [12]:
# Persist
REVIEW_SAMPLE_DATA_FP = f"{SAMPLE_OUTPUT_DATASET_DP}/yelp_academic_dataset_review_sample_{NUM_SAMPLE_BUSINESSES}_biz.parquet"
review_sample_df.to_parquet(REVIEW_SAMPLE_DATA_FP, index=False)

In [13]:
sample_user_ids = set(review_sample_df['user_id'].unique())
len(sample_user_ids)

4984

## Users

In [14]:
USER_DATA_FP = f"{YELP_DATASET_DP}/yelp_academic_dataset_user.json"

In [15]:
%%time
user_sample_df = (
    pd.read_json(USER_DATA_FP, lines=True)
    .loc[lambda df: df['user_id'].isin(sample_user_ids)]
)

CPU times: user 16.2 s, sys: 29.7 s, total: 46 s
Wall time: 2min 36s

In [16]:
user_sample_df

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
58,OmjMNG77obZOKQ59o-Tx4Q,Jenna,556,2008-11-16 05:10:49,606,248,326,"2010,2011,2012,2013,2014,2015,2016","kN4A5jI8pzSmo6q-gAto1A, HtCPdVujYJAZF4FKr-C9Lg...",31,...,4,5,7,1,15,54,47,47,25,4
60,LwZJFLGxQwjjeOgpqTJnfw,Lucas,157,2010-09-21 18:14:11,92,38,37,,"RHsmgIvCfnFL7DPNptKY8A, mObXpXBnaOV_UhE0gWwvPQ...",5,...,2,0,0,0,4,1,5,5,1,5
117,0G-QF457q_0Z_jKqh6xWiA,Joi,2009,2008-03-12 19:13:45,27137,14049,20385,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","K8h4ypoVZAnmhC2dHKsDrQ, 7nS_R5h4YiZjgH532k_8gA...",944,...,129,105,152,76,2073,6409,2442,2442,1117,462
148,Q5jOFJYhIsN8ouJ1rnsLQQ,Matthew,593,2006-06-21 20:03:01,1216,307,502,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2018","Txw2jX2lOtayJOiMvvTW8A, t0rFBojfJ3VHp3cJ5jiyPA...",36,...,6,1,1,2,32,69,88,88,69,3
154,ukCAVNbolx0_gaAkDYZnEA,Trish,759,2006-11-05 06:24:29,2485,2156,1843,"2007,2008,2009,2010,2011","ziheST-Dc3HcyCevMqC7Hw, roBZAkSams3dGo9Pl_C-dw...",70,...,48,46,125,37,381,504,529,529,95,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588727,gqDwwdxEKOfNDlwMPZiPSg,Michelle,1,2018-11-30 20:01:00,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
590521,Ilu17KoJBcNG_XWW0nrjrA,Patricia,5,2021-08-04 00:32:27,2,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
595164,sRjJja-1_xZHTua5b1s8nA,Ashley,6,2021-04-11 03:49:42,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
595340,emHMKvcO14MxmoIa0WgkoA,Pat,4,2016-03-11 05:21:35,19,2,1,,None,0,...,0,0,0,0,0,0,0,0,0,0
595345,mSzNh2I3SXUCxhVSrwV7wQ,Hailey,1,2022-01-17 03:03:39,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
user_sample_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
user_id,4984,4984,OmjMNG77obZOKQ59o-Tx4Q,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,4984,1987,Michael,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_count,4984.0,NaN,NaN,NaN,141.472311,432.398123,0.0,8.0,27.0,112.0,17473.0
yelping_since,4984,4984,2008-11-16 05:10:49,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
useful,4984.0,NaN,NaN,NaN,492.643459,4031.647466,0.0,3.0,21.0,128.0,206296.0
funny,4984.0,NaN,NaN,NaN,210.380819,2896.702452,0.0,0.0,4.0,28.0,185823.0
cool,4984.0,NaN,NaN,NaN,352.367576,3717.439775,0.0,0.0,5.0,52.0,195814.0
elite,4984,166,,3591,NaN,NaN,NaN,NaN,NaN,NaN,NaN
friends,4984,3660,None,1304,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fans,4984.0,NaN,NaN,NaN,14.060393,83.464765,0.0,0.0,1.0,5.0,3493.0
average_stars,4984.0,NaN,NaN,NaN,3.79193,0.846605,1.0,3.46,3.93,4.32,5.0
compliment_hot,4984.0,NaN,NaN,NaN,15.358748,129.357189,0.0,0.0,0.0,1.0,4076.0
compliment_more,4984.0,NaN,NaN,NaN,2.135433,12.015389,0.0,0.0,0.0,1.0,431.0
compliment_profile,4984.0,NaN,NaN,NaN,1.234751,11.1448,0.0,0.0,0.0,0.0,402.0
compliment_cute,4984.0,NaN,NaN,NaN,0.83748,9.629462,0.0,0.0,0.0,0.0,412.0
compliment_list,4984.0,NaN,NaN,NaN,0.497392,5.38671,0.0,0.0,0.0,0.0,239.0
compliment_note,4984.0,NaN,NaN,NaN,14.57825,99.82899,0.0,0.0,0.0,4.0,2408.0
compliment_plain,4984.0,NaN,NaN,NaN,41.145666,407.098325,0.0,0.0,0.0,4.0,13807.0
compliment_cool,4984.0,NaN,NaN,NaN,28.24699,232.46509,0.0,0.0,0.0,4.0,7655.0
compliment_funny,4984.0,NaN,NaN,NaN,28.24699,232.46509,0.0,0.0,0.0,4.0,7655.0
compliment_writer,4984.0,NaN,NaN,NaN,9.942014,56.728526,0.0,0.0,0.0,2.0,1644.0
compliment_photos,4984.0,NaN,NaN,NaN,11.84069,134.063143,0.0,0.0,0.0,1.0,5770.0

In [18]:
# Persist
USER_SAMPLE_DATA_FP = f"{SAMPLE_OUTPUT_DATASET_DP}/yelp_academic_dataset_user_sample_{NUM_SAMPLE_BUSINESSES}_biz.parquet"
user_sample_df.to_parquet(USER_SAMPLE_DATA_FP, index=False)

# Tips
> Tips written by a user on a business. Tips are shorter than reviews and tend to convey quick suggestions. ([source](https://www.yelp.com/dataset/documentation/main))

-> Skip this data to not confuse with the reviews

# Photos
This data can also be used as a supplementary input source and also to add to the recommendations